.Contact {
  text-align: center;
}

.Contact p {
  margin: 4rem 0;
}

.Contact p:last-of-type {
  margin-bottom: 10rem;
}

.Contact-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact-social img {
  width: 4rem;
  margin-right: 1rem;
  display: block;
}

/*---------------------------------------------------------------------------*/
/* Mobile */
/*---------------------------------------------------------------------------*/

@media (max-width: 600px) {
  .Contact p:last-of-type {
    margin-bottom: 4rem;
  }
}
