footer {
  color: #777;
  text-align: center;
  margin-top: 3rem;
  padding: 2rem 1rem 3rem;
  box-shadow: 0 -0.1rem 0.2rem rgba(0,0,0,0.2);
}

footer .button {
  font-size: 1.1rem;
}

footer .button:before {
  border: 2px solid #fff;
  background: #fff;
}

@media (max-width: 600px) {
  footer .button {
    font-size: 1rem;
  }
}
