.Home {
  text-align: center;
}

.Home h1 {
  margin: 0;
}

.Home h2 {
  font-size: 3rem;
  margin-top: 0;
}

/*---------------------------------------------------------------------------*/
/* BIO */
/*---------------------------------------------------------------------------*/

.Home-bio {
  margin: 6rem 0 8rem;
}

.Home-bio p {
  font-size: 1.5rem;
  max-width: 30rem;
  margin: 2rem auto;
}

.Home-bio img {
  border-radius: 50%;
  margin-top: 1.5rem;
}

/*---------------------------------------------------------------------------*/
/* CURRENT STACK */
/*---------------------------------------------------------------------------*/

.Home-splash {
  margin: 6rem auto 12rem;
}

.Home-splash-stack .Stack {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/*---------------------------------------------------------------------------*/
/* WORK */
/*---------------------------------------------------------------------------*/

.Home-work section.Stack {
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

/*---------------------------------------------------------------------------*/
/* MOBILE */
/*---------------------------------------------------------------------------*/

@media (max-width: 600px) {
  .Home h2 {
    font-size: 1.7rem;
  }

  .Home-bio {
    margin: 3rem 0 3rem;
  }

  .Home-bio p {
    font-size: 1.2rem;
  }
}