/*---------------------------------------------------------------------------*/
/* GENERAL */
/*---------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, textarea {
  color: #5e544b;
  font-family: "Helvetica";
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 4.2rem;
  line-height: 125%;
  margin-bottom: 1rem;
  color: #CF7A36;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  color: #9c561d;
}


p, li, a, input, textarea, button {
  font-size: 1.1rem;
  line-height: 175%;
}

a {
  text-decoration: none;
  color: #622820;
}

.simple-link:hover {
  border-bottom: 2px solid #622820;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  margin: 1.5rem 0 0;
  border: none;
  border-top: 1px solid #aaa;
}

img,
video {
  display: block;
}

video {
  width: 100%;
}

/*---------------------------------------------------------------------------*/
/* HELPER CLASSES */
/*---------------------------------------------------------------------------*/
/*
`.avoid-wrap` is used to set where lines should wrap. e.g. in `Resume.js`, 
job titles and dates are put into two separate spans with this class so that 
on mobile devices the line doesn't break in the middle of a date range
*/
.avoid-wrap {
  display: inline-block;
}


/*---------------------------------------------------------------------------*/
/* TEXT LINKS */
/*---------------------------------------------------------------------------*/

text-link,
.text-link {
  position: relative;
  display: inline-block;
  padding: 0 0.5rem;
  outline: none;
  color: #622820;
}

.text-link:focus,
.text-link:hover {
  color: #CF7A36;
  text-decoration: none;
}

.text-link:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  height: 0%;
  border: 0px solid #E9BB67;
  background: #E9BB67;
  z-index: -1;
  transition: 0.1s all;
  box-sizing: border-box;
}

.text-link:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  height: 7%;
  margin: 0;
  border-left: 0.5rem solid #fff;
  border-right: 0.5rem solid #fff;
  box-sizing: border-box;
  background: #CF7A36;
  z-index: -2;
  transition: 0.1s all;
}

.text-link:focus:before,
.text-link:hover:before {
  top: 10%;
  height: 90%;
  border-color: #EFD391;
  background: #EFD391;
  z-index: -1;
}
.text-link:focus:before {
  border-color: #CF7A36;
}

.text-link:focus:after,
.text-link:hover:after {
  left: 0;
  width: 100%;
  background: #CF7A36;
  border-left: 0rem solid #fff;
  border-right: 0rem solid #fff;
  z-index: -2;
}


/*---------------------------------------------------------------------------*/
/* BUTTON */
/*---------------------------------------------------------------------------*/
button,
.button {
  position: relative;
  display: inline-block;
  padding: 0 0.75rem;
  border: none;
  outline: none;
  background: none;
  font-size: 1.6rem;
  text-decoration: none;
  color: #622820;
  cursor: pointer;
}

.button:focus,
.button:hover {
  color: #CF7A36;
  text-decoration: none;
}

.button:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 43%;
  height: 47%;
  border: 2px solid #E9BB67;
  background: #E9BB67;
  z-index: -1;
  transition: 0.1s all;
  box-sizing: border-box;
}

.button:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 55%;
  margin: 0;
  border-left: 0.5rem solid #fff;
  border-right: 0.5rem solid #fff;
  box-sizing: border-box;
  height: 47%;
  background: #CF7A36;
  z-index: -2;
  transition: 0.1s all;
}

.button:focus:before,
.button:hover:before {
  top: 10%;
  height: 80%;
  border-color: #EFD391;
  background: #EFD391;
  z-index: -1;
}
.button:focus:before {
  border-color: #CF7A36;
}

.button:focus:after,
.button:hover:after {
  left: 0;
  width: 100%;
  background: #CF7A36;
  border-left: 0rem solid #fff;
  border-right: 0rem solid #fff;
  z-index: -2;
}

.button-large:before,
.button-large:after {
  height: 57%;
}

.button-large:focus:before,
.button-large:hover:before {
  height: 90%;
}

/*---------------------------------------------------------------------------*/
/* MOBILE */
/*---------------------------------------------------------------------------*/

@media (max-width: 800px) {
  p, li, a, input, textarea, button {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.35rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  hr {
    margin-top: 2rem;
  }

  button,
  .button {
    font-size: 1.4rem;
  }
}
