.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0);
  background: #fff;
  transition: 0.5s all;
}

.Nav-shadow {
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2);
  z-index: 10;
}

.Nav-container {
  max-width: 60rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.Nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav li {
  display: flex;
  margin: 0;
}

.Nav a {
  padding: 1rem;
  color: #867767;
  position: relative;
  text-transform: uppercase;
  transition: 0.1s all ease-in;
}

.Nav a:hover {
  color: #622820;
  text-decoration: none;
}

.Nav a:before {
  content: '';
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: 0.1s all ease-in;
}

.Nav a:after {
  content: '';
  position: absolute;
  background-color: #CF7A36;
  top: 0;
  left: 50%;
  height: 107%;
  width: 0;
  z-index: -2;
  transition: 0.1s all ease-in;
}

.Nav a:hover:before {
  background-color: #fff;
  left: 0;
  width: 100%;
}

.Nav a:hover:after {
  background-color: #CF7A36;
  left: 0;
  width: 100%;
}

/*---------------------------------------------------------------------------*/
/* ACTIVE NAV */
/*---------------------------------------------------------------------------*/
.Nav a.Nav-active {
  color: #622820;
  background-color: #EFD391;
}

.Nav a.Nav-active:hover {
  background-color: #EFD391;
}

.Nav a.Nav-active:after {
  content: '';
  position: absolute;
  background-color: #CF7A36;
  top: 0;
  left: 7.5%;
  height: 107%;
  width: 85%;
  z-index: -2;
  transition: 0.1s all ease-in;
}

.Nav a.Nav-active:hover:after {
  left: 0;
  width: 100%;
}
