.ProjectPage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  overflow: auto;
  z-index: 100;
}

.ProjectPage-modal {
  position: relative;
  background: #fff;
  max-width: 50rem;
  padding: 2rem 4rem;
  margin: 4rem auto;
  z-index: 1;
}

.ProjectPage-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.ProjectPage-modal h2:first-of-type {
  margin-bottom: 0;
}

.ProjectPage-modal h2 {
  margin: 2rem 0;
}

.ProjectPage-modal h3 {
  margin: 0.2rem 0;
  font-size: 2rem;
  color:#9c561d
}

.ProjectPage-image,
.ProjectPage video {
  margin: 2rem 0;
  width: 100%;
}

.ProjectPage-image {
  box-shadow: 0 0.1rem 0.5rem #777;
}

.ProjectPage-modal .Stack {
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ProjectPage-modal .button {
  margin: 1rem 1rem 0 0;
}
