.ProjectCard {
  position: relative;
  width: 49%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  box-shadow: 0 0.1rem 0.5rem #aaa;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  flex-direction: column;
}

.ProjectCard:hover {
  box-shadow: 0 0.1rem 0.5rem #777;
}

.ProjectCard-overlay-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ProjectCard-content {
  display: flex;
}

.ProjectCard-text-left {
  align-items: flex-end;
  text-align: left;
  order: -1;
}

.ProjectCard-text h2 {
  font-size: 1.8rem;
  margin: 0 0 0.5rem;
}

.ProjectCard-title-mobile {
  display: none;
}

.ProjectCard-text {
  width: 47%;
  padding: 1rem;
  text-align: right;
}

.ProjectCard-image {
  width: 53%;
  padding: 1rem;
}

.ProjectCard-image img {
  box-shadow: 0 0.1rem 0.3rem #aaa;
  width: 100%;
}

.ProjectCard .Stack {
  padding: 0 1rem;
}

.ProjectCard-link {
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .ProjectCard {
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #aaa;
    border-radius: 0;
    padding-bottom: 2rem;
    margin-bottom: 0rem;
    padding-top: 1rem;
  }

  .ProjectCard:first-of-type {
    margin-top: 0.5rem;
    padding-top: 0;
  }

  .ProjectCard:last-of-type {
    border-bottom: 1px solid #aaa;
  }

  .ProjectCard:hover {
    box-shadow: none;
  }

  .ProjectCard-overlay-link {
    display: none;
  }

  .ProjectCard-content {
    display: block;
  }

  .ProjectCard-title-mobile {
    display: block;
    margin-top: 1.5rem;
    text-align: center;
  }

  .ProjectCard-title-mobile a {
    font-size: 1.5rem;
  }

  .ProjectCard-title-desktop {
    display: none;
  }

  .ProjectCard-text {
    width: 100%;
    padding: 1rem;
    text-align: left;
  }

  .ProjectCard-text {
    padding-left: 0;
    padding-right: 0;
  }

  .ProjectCard-text p {
    margin: 0;
  }

  .ProjectCard-image {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  .ProjectCard .Stack {
    padding: 0;
  }
}
