.Resume-page {
  box-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
  padding: 3rem 5rem 6rem;
  margin: 1.5rem 0 5rem;
}

.Resume .Resume-links {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.Resume-content {
  display: flex;
}

.Resume-left {
  width: 18rem;
  padding-right: 1rem;
  flex-shrink: 0;
}

.Resume-right {
  flex-shrink: 1;
  flex-grow: 1;
}

.Resume h1 {
  margin-top: 0;
}

.Resume h2 {
  margin: 1.5rem 0 0.5rem;
}

.Resume h3 {
  font-size: 1.1rem;
  margin: 1.75rem 0 0.5rem;
  color: #5e544b;
  font-weight: bold;
  text-shadow: none;
}

.Resume h3:first-of-type {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.Resume h4 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-weight: normal;
  font-style: italic;
  color: #888;
}

.Resume p,
.Resume li {
  margin: 0.5rem 0;
}

.Resume ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.Resume ol {
  padding-left: 1.2rem;
}

.Resume ul li {
  margin: 0.5rem 0;
  line-height: 120%;
}

.Resume-divider {
  padding: 0 0.5rem ;
}


/*---------------------------------------------------------------------------*/
/* MOBILE */
/*---------------------------------------------------------------------------*/

@media (max-width: 600px) {
  .Resume-page {
    margin-bottom: 3rem;
    padding: 0;
    box-shadow: none;
  }

  .Resume-content {
    flex-wrap: wrap;
  }

  .Resume-left {
    width: 100%;
    order: 2;
    margin-top: -0.5rem;
  }

  .Resume-divider {
    display: none;
  }

  .Resume h2 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .Resume h2:first-of-type {
    margin-top: 1.5rem;
  }
}
